@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.header {
  background: #403C3B;
  -webkit-box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
          box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
  padding: 23px 0 24px 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  color: #FFFFFF;
}

.header__label {
  margin-left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #504B4A;
  padding: 16px 20px;
  border-radius: 10px;
}

.header__input {
  margin-left: 14px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__input::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__input:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__input::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__search {
  margin-left: 258px;
}

.header__contact {
  margin-left: 20px;
}

.header__contact-span {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  color: #CFCFCF;
}

.header__contact-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}

.header__contact-img {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-left: 50px;
}

.header__contact-img img {
  width: 16px;
}

.hero {
  background-image: url(../../img/png/bg.png);
  min-height: 484px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 613px;
  padding: 120px 0 0 91px;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  text-align: center;
}

.hero__title {
  font-family: Lora;
  color: #FFFFFF;
  font-style: italic;
  font-size: 40px;
  width: 540px;
  margin-bottom: 30px;
}

.hero__subtitle {
  font-family: Lora;
  color: #FFFFFF;
  font-style: italic;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  display: inline-block;
  padding: 0 10px;
}

.menu {
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-nav__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #CFCFCF;
  position: relative;
}

.menu-nav__link::before {
  content: '';
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background: #618967;
  -webkit-box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
          box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 26px;
}

.menu-nav__link:hover {
  color: white;
}

.menu-nav__link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item__title {
  margin: 30px 0 30px 30px;
  padding-left: 10px;
  border-left: 2px solid #618967;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  line-height: 1;
  color: #FFFFFF;
}

.item__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__items {
  max-width: 325px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.item__items:not(:last-child) {
  margin-right: 20px;
}

.item__about {
  padding: 15px;
}

.item__about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.item__about-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
}

.item__about-weight {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}

.item__about-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  color: #CFCFCF;
  margin-bottom: 15px;
}

.item__about-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__about-btn {
  width: 62px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
}

.item__about-price {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}

.item img {
  display: block;
  border-radius: 10px 10px 0 0;
}

.block__content {
  position: absolute;
  background: #2E2B2C;
  -webkit-box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  z-index: 1;
  margin-top: 60px;
  padding: 25px 50px;
}

.block-map {
  position: relative;
}

.block__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.block__info-two {
  margin-bottom: 40px;
}

.block__adress {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  line-height: 16px;
  color: #CFCFCF;
  display: block;
}

.block__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  line-height: 16px;
  color: #FFFFFF;
  max-width: 380px;
}

.block__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.block__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3;
  line-height: 16px;
  color: #FFFFFF;
  padding: 20px 30px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
}

.block-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-site__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  line-height: 19px;
  color: #FFFFFF;
  margin-right: 26px;
}

.block-site__www {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.rec {
  margin-bottom: 60px;
}

.rec__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.rec__item {
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  max-width: 325px;
}

.rec__img {
  border-radius: 10px 10px 0 0;
  max-width: 325px;
}

.rec-about {
  padding: 14px 20px 18px 20px;
}

.rec-about__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rec-about__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.rec-about__gramm {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  line-height: 14px;
  color: #FFFFFF;
  display: block;
}

.rec-about__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  line-height: 17px;
  color: #CFCFCF;
  margin-bottom: 15px;
  max-width: 250px;
}

.rec-about__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rec-about__price {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  line-height: 24px;
  color: #FFFFFF;
}

.rec-basket {
  padding: 13px 20px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  line-height: 24px;
  color: #FFFFFF;
}

.delivery__content {
  max-width: 800px;
  margin: auto;
  color: #FFFFFF;
  padding-top: 50px;
}

.delivery__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  line-height: 19px;
  color: #FFFFFF;
}

.delivery__contact {
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  padding: 32px 29px 55px 29px;
  margin-bottom: 22px;
}

.delivery__contact_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery__contact_check label {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  line-height: 12px;
  width: 448px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0px 0 15px;
  margin-right: 60px;
}

.delivery__contact_check a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  line-height: 15px;
  color: #72A479;
}

.delivery__contact_check input {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
}

.delivery-form {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.delivery-form__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 50px;
  padding-left: 20px;
  position: relative;
  color: #FFFFFF;
}

.delivery-form__title::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 33px;
  left: 0;
  background: #618967;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.delivery-form__title:hover::before, .delivery-form__title_active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.delivery-form__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  line-height: 22px;
  display: block;
  margin-bottom: 30px;
}

.delivery-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-bottom: 15px;
}

.delivery-form__money {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.delivery-form__input {
  width: 363px;
  padding: 20px 0 20px 30px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__input::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__input:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__input::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__address {
  width: 233px;
  padding: 20px 0 20px 30px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__address::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__address:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__address::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__address::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__coment {
  width: 173px;
  padding: 20px 0 20px 30px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__coment::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__coment:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__coment::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__coment::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__clock {
  width: 185px;
  padding: 20px 0 20px 30px;
  margin-left: 15px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__clock::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__clock:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__clock::-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery-form__clock::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 16px;
  font-size: 400;
  line-height: 1.3;
  color: #FFFFFF;
}

.delivery__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.terms {
  margin-bottom: 40px;
}

.terms-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.terms-item {
  margin-bottom: 15px;
}

.terms-item:last-child {
  margin-bottom: 0;
}

.terms-item p {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  line-height: 25px;
  color: #FFFFFF;
}

.terms-item button {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
}

.terms__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 42px;
  padding-left: 20px;
  position: relative;
  color: #FFFFFF;
}

.terms__title::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 33px;
  left: 0;
  background: #618967;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.terms__title:hover::before, .terms__title_active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.accordion-panel {
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
}

.accordion-body {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
  line-height: 25px;
  padding: 60px 40px 60px 30px;
  width: 618px;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 0 0 10px 10px;
  display: none;
  overflow: hidden;
}

.accordion-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
  cursor: pointer;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  padding: 18px 0 18px 30px;
  width: 618px;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.accordion-panel > .accordion-body {
  display: none;
}

.accordion-panel.accordion-expanded > .accordion-body {
  display: block;
}

.time__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #FFFFFF;
  line-height: 35px;
}

.time__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #CFCFCF;
  line-height: 35px;
  max-width: 697px;
  margin-bottom: 40px;
}

.time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-content__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #FFFFFF;
  line-height: 35px;
  margin-right: 100px;
}

.time-content__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #CFCFCF;
  line-height: 35px;
  margin-bottom: 40px;
  display: block;
}

.terms-item {
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
}

.cart__content {
  padding-top: 50px;
}

.cart-item {
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item:last-child {
  margin-bottom: 40px;
}

.cart-item__info {
  width: 117px;
  height: 86px;
  margin-right: 30px;
}

.cart-item__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  line-height: 22px;
  color: #FFFFFF;
}

.cart-item__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  line-height: 14px;
  max-width: 265px;
  color: #A6A7AB;
  margin-right: 200px;
}

.cart-item__price {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 120px 0 100px;
}

.cart__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 71px;
  padding-left: 20px;
  position: relative;
  color: #FFFFFF;
}

.cart__title::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 33px;
  left: 0;
  background: #618967;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart__title:hover::before, .cart__title_active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cart__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  line-height: 18px;
  text-transform: lowercase;
  color: #72A479;
  margin-left: 15px;
}

.cart__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  line-height: 19px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.units__btn {
  width: 26px;
  height: 26px;
  background: #72A479;
  border-radius: 50%;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}

.units__number {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 12px 0 12px;
}

.order-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
}

.order__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.order-item {
  margin-right: 65px;
}

.order-item:last-child {
  margin-right: 0;
}

.order-item__img {
  border-radius: 10px;
  width: 225px;
  height: 120px;
  margin-bottom: 10px;
}

.order-item__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.order-item__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  line-height: 14px;
  color: #C6CED1;
  margin-right: 12px;
}

.order-item__price {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 5px;
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__btn {
  width: 16px;
  height: 16px;
  background: #72A479;
  border-radius: 50%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total {
  margin-top: 50px;
  margin-bottom: 90px;
}

.total__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  padding: 20px 30px;
}

.total__total {
  margin-right: 230px;
}

.total__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.total__price {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  line-height: 22px;
  color: #FFFFFF;
}

.total__money {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  line-height: 14px;
  color: #72A479;
}

.total__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  line-height: 17px;
  color: #FFFFFF;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  padding: 17px 30px 17px 30px;
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1060px;
}

.card__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  line-height: 19px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px 0 28px 0;
}

.card__content {
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  margin-bottom: 50px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__info {
  padding: 35px 0 25px 50px;
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  line-height: 30px;
  color: #FFFFFF;
}

.card__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  line-height: 16px;
  color: #CFCFCF;
  margin: 10px 0 100px 0;
}

.card__weight {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  line-height: 16px;
  color: #CFCFCF;
  margin-bottom: 20px;
  display: block;
}

.card__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__basket {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 20px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
}

.card__price {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  line-height: 30px;
  color: #FFFFFF;
  margin-left: 25px;
}

.card img {
  display: block;
  border-radius: 10px 0 0 10px;
}

.card__border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-group__first {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border: 1px solid #72A479;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 31px;
  cursor: pointer;
  margin-bottom: 15px;
  float: left;
  border-radius: 10px 0px 0px 10px;
}

.btn-group__second {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border: 1px solid #72A479;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 33px;
  cursor: pointer;
  margin-bottom: 15px;
  float: left;
  border-radius: 0;
}

.btn-group__third {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background: -webkit-gradient(linear, left top, right top, from(#494544), to(#504B4A));
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border: 1px solid #72A479;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 48px;
  cursor: pointer;
  margin-bottom: 15px;
  float: left;
  border-radius: 0px 10px 10px 0px;
}

.btn-group__first:hover, .btn-group__second:hover, .btn-group__third:hover {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  color: #FFFFFF;
}

.btn-group__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border: none;
  color: #FFFFFF;
  padding: 17px 50px;
  cursor: pointer;
  border-radius: 10px;
}

.container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__big {
  max-width: 1365px;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#44403F));
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}

.footer {
  background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
  padding: 15px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content img {
  width: 64px;
}

.footer__item {
  margin: 0 86px 0 64px;
}

.footer__item-title {
  margin: 0 0 15px 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  color: #FFFFFF;
}

.footer__item-rights {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.3;
  color: #CFCFCF;
  margin-bottom: 3px;
}

.footer__item-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #FFFFFF;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.footer__link {
  margin-right: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
}

.cart__container {
  max-width: 1096px;
  margin: 0 auto;
}

.total__container {
  max-width: 763px;
  margin: 0 auto;
}

.ymaps-layers-pane {
  -ms-filter: invert(75%) grayscale(1) brightness(0.75);
  -webkit-filter: invert(75%) grayscale(1) brightness(0.75);
  -moz-filter: invert(75%) grayscale(1) brightness(0.75);
  -o-filter: invert(75%) grayscale(1) brightness(0.75);
  filter: invert(75%) grayscale(1) brightness(0.75);
}
/*# sourceMappingURL=index.css.map */