@import './helpers/mixins';
@import './helpers/variables';
@import'./helpers/reset-styles';

@import'./section/header';
@import './section/hero';
@import './section/menu';
@import'./section/item';
@import './section/block';
@import './section/rec';

@import'./pages/delivery';
@import'./pages/terms';
@import './pages/cart';
@import './pages/cardProduct';

@import'./components/btn';

.container{
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    &__hero{
        display: flex;
    }
    &__big{
        max-width: 1365px;
    }
}
body{
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}
.footer{
  background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
  padding: 15px 0;
  &__content{
    display: flex;
    align-items: center;
    img{
      width: 64px;
    }
  }
  &__item{
    margin:0 86px 0 64px;
    &-title{
      margin: 0 0 15px 64px;
      @include font(700, 25px);
      color: $text-white;
    }
    &-rights{
      @include font(300, 13px);
      color: $text-gray;
      margin-bottom: 3px;
    }
    &-link{
      @include font(400, 14px);
      color: $text-white;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    color: $text-white;
  }
  &__link{
    margin-right: 50px;
    @include font(400, 18px);
    color: $text-white;
  }
  
}


.cart__container{
    max-width: 1096px;
    margin: 0 auto;
}

.total__container{
    max-width: 763px;
    margin: 0 auto;
}
