@import './helpers/mixins';
@import './helpers/variables';
@import'./helpers/reset-styles';

@import'./section/header';
@import './section/hero';
@import './section/menu';
@import'./section/item';
@import'./section/footer';
@import './section/block';
@import './section/rec';

@import'./pages/delivery';
@import'./pages/terms';
@import './pages/cart';
@import './pages/cardProduct';

@import'./components/btn';

.container{
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    &__hero{
        display: flex;
    }
    &__big{
        max-width: 1365px;
    }
}
body{
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  color: $text-white;
}


.cart__container{
    max-width: 1096px;
    margin: 0 auto;
}

.total__container{
    max-width: 763px;
    margin: 0 auto;
}
.swiper{
    padding-bottom: 50px;
}

.ymaps-layers-pane {
  -ms-filter: invert(75%) grayscale(1) brightness(0.75);
  -webkit-filter: invert(75%) grayscale(1) brightness(0.75);
  -moz-filter: invert(75%) grayscale(1) brightness(0.75);
  -o-filter: invert(75%) grayscale(1) brightness(0.75);
  filter: invert(75%) grayscale(1) brightness(0.75);
}
