@import './helpers/mixins';
@import './helpers/variables';
@import'./helpers/reset-styles';

@import'./section/header';
@import './section/hero';
@import './section/menu';
@import'./section/item';
@import'./section/footer';
@import './section/block';
@import './section/rec';
@import './section/about';

@import'./pages/delivery';
@import'./pages/terms';
@import './pages/cart';
@import './pages/cardProduct';

@import'./components/btn';

.container{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    &__hero{
        display: flex;
    }
    &__item{
        max-width: 1390px;
    }
}
html,body{
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  color: $text-white;
  overflow-x: hidden;
}


.cart__container{
    max-width: 1096px;
    margin: 0 auto;
}

.total__container{
    max-width: 763px;
    margin: 0 auto;
}

.swiper{
    padding-bottom: 50px;
}
.ymaps-layers-pane {
  -ms-filter: invert(75%) grayscale(1) brightness(0.75);
  -webkit-filter: invert(75%) grayscale(1) brightness(0.75);
  -moz-filter: invert(75%) grayscale(1) brightness(0.75);
  -o-filter: invert(75%) grayscale(1) brightness(0.75);
  filter: invert(75%) grayscale(1) brightness(0.75);
}
.product-controls__quantity {
	width: 9%;
	margin-left: .5rem;
    select {
        width: 100%;
        max-width: 352px;
        height: 40px;
        margin: 0;
        padding: 0 10px;
        border: 1px solid #666;
        border-radius: 2px;
        background: #72A479 url(../img/svg/chevron-down-thin-24.1667eab2.svg) no-repeat right 8px center/1.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1rem;
        line-height: 1.15;
        font-family: inherit;
        text-transform: none;
        color: white;
    }
}
