.header{
    background: $bg-brown;
    box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
    padding: 23px 0 24px 0;
    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-label{
        display: flex;
        background: #504B4A;
        border-radius: 8px;
        padding: 15px;
        margin-top: 10px;
    }
    &-input{
        margin-left: 15px;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        @include font(400, 18px);
        color: $text-gray;
        &::placeholder{
            @include font(400, 18px);
            color: $text-gray;
        }
    }
    &-menu{
        @include font(700, 12px);
        line-height: 15px;
        color: $text-white;
    }
    &-basket{
        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
        border-radius: 10px;
        padding: 8px;
        align-items: center;
        text-align: center;
        &__img{
            display: inline-block;
            text-align: center;
        }
        &__title{
            display: block;
            @include font(600, 12px);
            line-height: 14px;
            color: $text-white;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        @include font(700, 25px);
        color: $text-white;
    }
    .search{
        position: relative;
        display: flex;
        background: $bg-brown-light;
        
        border-radius: 10px;
        &__input{
            outline: none;
            border: none;
            border-radius: 10px;
            background: transparent;
            @include font(16px, 400);
            color: $text-white;
            padding: 20px 65px 20px 30px;
            width: 525px;
            height: 52px;
            &::placeholder {
                @include font(16px, 400);
                color: $text-gray;
            }
        }
        &__btn{
            position: absolute;
            top: 0.9rem;
            right: 0.9rem;
            background-image: url("../../img/svg/Search.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 2.5rem;
            height: 1.5rem;
            background-position: center;
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        &-span{
            @include font(300, 15px);
            color: $text-gray;
        }
        &-link{
            @include font(500, 20px);
            color: $text-white;
        }
        &-img{
            background: $bg-green;
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 50%;
            margin-right: 10px;
            img{
                width: 16px;
            }
        }
    }
    &__basket{
        display: flex;
        align-items: center;
        padding: 7px 13px 7px 24px;
        background: $bg-green;
        border-radius: 10px;
        &-desc{
            @include font(600, 14px);
            color: $text-white;
            padding: 10px 20px 10px 0;
            display: block;
            border-right: 2px solid rgba(255, 255, 255, 0.3);;
        }
        &-count{
            margin-right: 12px;
            color: $bg-brown;
            @include font (600, 12px);
            width: 24px;
            height: 24px;
            background: $text-white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 12px;
        }
    }
}
