.hero{
    background-image: url(../../img/png/bg2.png);
    min-height: 484px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__content{
        max-width: 350px;
        padding: 50px;
        text-align: center;
    }
    &__title{
        font-family: Lora;
        color: $text-white;
        font-style: italic;
        font-size: 30px;
        margin-bottom: 20px;

    }
    &__subtitle{
        font-family: Lora;
        color: $text-white;
        font-style: italic;
        background: $bg-green;
        display: inline-block;
    }
}