.hero{
    background-image: url(../../img/png/bg.png);
    min-height: 484px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__content{
        max-width: 613px;
        padding: 120px 0 0 91px;
        transform: rotate(-9deg);
        text-align: center;
    }
    &__title{
        font-family: Lora;
        color: $text-white;
        font-style: italic;
        font-size: 40px;
        width: 540px;
        margin-bottom: 30px;

    }
    &__subtitle{
        font-family: Lora;
        color: $text-white;
        font-style: italic;
        background: $bg-green;
        display: inline-block;
        padding: 0 10px;
    }
}