.item{
    &__title{
      margin: 30px 0 30px 30px;
      padding-left: 10px;
      border-left: 2px solid #618967;
      @include font(700, 30px);
      line-height: 1;
      color: $text-white;
    }
    &__type{
      display: flex;
    }
    &__items{
      max-width: 325px;
      border-radius: 10px;
      background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
      &:not(:last-child){
        margin-right: 20px;
      }
    }
    &__about{
      padding: 15px;
      &-desc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-white;
        margin-bottom: 5px;
      }
      &-name{
        @include font(700, 22px)
      }
      &-weight{
        @include font(400, 12px)
      }
      &-text{
        @include font(400, 13px);
        color: $text-gray;
        margin-bottom: 15px;
      }
      &-basket{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-btn{
        width: 62px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
        border-radius: 10px;
      }
      &-price{
        @include font(600, 20px);
        color:$text-white;
      }
    }
    img{
      display: block;
      border-radius: 10px 10px 0 0;
    }
  }
  
  