.card{
    &__link{
        @include font(700, 16px);
        color: $text-white;
        display: flex;
        align-items: center;
        margin: 44px 0 28px 0;
    }
    &__content{
        background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
        border-radius: 10px;
        margin-bottom: 50px;
    }
    &__item{
        display: flex;
    }
    &__info{
        padding: 35px 150px 25px 90px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        @include font(700, 25px);
        color: $text-white;
    }
    &__text{
        @include font(400, 14px);
        color: $text-gray;
        margin-bottom: 50px;
    }
    &__weight{
        @include font(400, 14px);
        color: $text-gray;
        // margin-bottom: 20px;
        display: block;
    }
    &__cart{
        display: flex;
        align-items: center
    }
    &__basket{
        @include font(600, 14px);
        color: $text-white;
        padding: 16px 20px;
        background: $bg-green;
        border-radius: 10px;
    }
    &__price{
        @include font(700, 25px);
        color: $text-white;
        margin-left: 25px;
    }
    &__img{
        width: 40%;
    }
    img{
        border-radius: 10px 0 0 10px;
        height: 100%;
    }
    &__border{
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

