.delivery {
  &__content {
    max-width: 800px;
    margin: auto;
    color: $text-white;
    padding-top: 50px;
  }
  &__title {
    @include font(700, 32px);
    line-height: 39px;
    text-transform: uppercase;
    margin: 30px 0;
    padding-left: 20px;
    position: relative;
    color: $text-white;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 33px;
      left: 0;
      background: #618967;
      transform: rotate(90deg);
      transform: scale(0);
      transition: 0.3s;
    }
    &:hover,
    &_active {
      &::before {
        transform: scale(1);
      }
    }
  }
  &__link {
    @include font(700, 16px);
    line-height: 19px;
    color: $text-white;
    display: flex;
    align-items: center;
  }
  .form{
    &__item{
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 22px;
    }
    &__subtitle{
      @include font(700, 18px);
      line-height: 22px;
      margin-bottom: 30px;
      color: $text-white;
    }
    &__contact{
      display: flex;
      align-items: center;
      &-margin{
        margin-bottom: 15px;
      }
    }
    &__input, &__textarea{
      outline: none;
      border: none;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      background: transparent;
      @include font(16px, 400);
      color: $text-white;
      padding: 20px 30px;
      &-time {
        height: 60px;
        width: 181px;
        margin-left: 6px;
        padding: 20px 25px;
      }
      &::placeholder {
        @include font(16px, 400);
        color: $text-gray;
      }
      &:not(:last-child){
        margin-right: 20px;
        height: 60px;
      }
      &-50{
        width: 50%;;
      }
      &-66{
        width: 66.666%;
      }
      &-33{
        width: 33.333%;
      }
    }
    &__radio{
      appearance: none;
      -webkit-appearance: none;
      background: transparent;
      border-radius: 10px;
      border: 1px solid #72A479;
      width: 181px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &-del{
        &::after{
          content: "Доставка";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-self{
        &::after{
          content: "Самовывоз";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-online{
        &::after{
          content: "Оплата онлайн";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-сourier{
        &::after{
          content: "Курьеру картой";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-cash{
        &::after{
          content: "Наличными";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-soon{
        &::after{
          content: "В ближайшее время";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-after{
        &::after{
          content: "Ко времени";
          @include font (400, 16px);
          color: $text-white;
        }
      }
      &-agree{
        width: 22px;
        height: 22px;
        appearance: none;
        -webkit-appearance: none;
        background: $text-white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &::after{
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00c";
          font-size: 15px;
          color: #72A479;
          display: none;
        }
        &:hover{
          background-color: rgb(214, 212, 212);
        }
        &:checked{
          background-color: white;
        }
        &:checked::after{
          display: flex;
        }

      }
      &:checked{
        background-color:#72A479;
      }
    }
    &__desc{
      display: flex;
      @include font (400, 16px);
      color: $text-white;
      img{
        margin: 0 15px;
      }
    }
    &__description{
      @include font (400, 16px);
      margin: 20px 0;
    }
    &__textarea{
      resize: none;
      width: 100%;
    }
    // Input number убрать стрелки
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // 
    &__count{
      display: flex;
      align-items: center;
      padding: 20px 29px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      width: 283px;
      @include font(400, 16px);
      &-span{
        margin-right: 25px;
        width: 100%;
      }
      &-value{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__label{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
    }
    &__span-agree,
    &__link{
      margin-top: 3px;
      margin-left: 4px;
      @include font(400, 13px);

    }
    &__link{
      color: #72A479;
      border-bottom: 1px solid #72A479;
    }
  }
}
