.delivery{
    &__content{
        max-width: 800px;
        margin: auto;
        color: $text-white;
        padding-top: 50px;
    }
    &__link{
        @include font(700, 16px);
        line-height: 19px;
        color: $text-white;
    }
    &__contact{
        background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
        border-radius: 10px;
        padding: 32px 29px 55px 29px;
        margin-bottom: 22px;
        &_check{
            display: flex;
            label{
                @include font (400,11px);
                line-height: 12px;
                width: 448px;
                color: $text-white;
                display: inline-block;
                margin: 0px 0 15px;
                margin-right: 60px;
            }
            a{
                @include font (500,13px);
                line-height: 15px;
                color: #72A479;
            }
            input{
                position: relative;
                top: 2px;
                display: inline-block;
                width: 16px;
                margin: 0 10px 0 0;
            }
        }
    }
    &-form{
        text-align: left;
        max-width: 800px;
        margin: 0 auto;
        &__title{
            @include font(700, 32px);
            line-height: 39px;
            text-transform: uppercase;
            margin-top: 35px;
            margin-bottom: 50px;
            padding-left: 20px;
            position: relative;
            color: $text-white;
            &::before{
                content: '';
                position: absolute;
                display: block;
                width: 4px;
                height: 33px;
                left: 0;
                background: #618967;
                transform: rotate(90deg);
                transform: scale(0);
                transition: 0.3s;
            }
            &:hover,&_active{
                &::before {
                    transform: scale(1);
                }
            }
        }
        &__subtitle{
            @include font(700, 18px);
            line-height: 22px;
            display: block;
            margin-bottom: 30px;
        }
        &__label{
            display: flex;
            align-items: center;
            text-align: left;
            margin-bottom: 15px;
        }
        &__money{
            display: block;
            align-items: center;
            text-align: left;
            
        }
        &__input{
            width: 363px;
            padding: 20px 0 20px 30px;
            margin-right: 15px;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            @include font (16px,400);
            color:$text-white;
            &::placeholder{
                @include font(16px,400);
                color:$text-white;
            }
        }
        &__address{
            width: 233px;
            padding: 20px 0 20px 30px;
            margin-right: 15px;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            @include font (16px,400);
            color:$text-white;
            &::placeholder{
                @include font(16px,400);
                color:$text-white;
            }
        }
        &__coment{
            width: 173px;
            padding: 20px 0 20px 30px;
            margin-right: 15px;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            @include font (16px,400);
            color:$text-white;
            &::placeholder{
                @include font(16px,400);
                color:$text-white;
            }
        }
        &__clock{
            width: 185px;
            padding: 20px 0 20px 30px;
            margin-left: 15px;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            @include font (16px,400);
            color:$text-white;
            &::placeholder{
                @include font(16px,400);
                color:$text-white;
            }
        }

    }
    &__clock{
        display: flex;
        align-items: center;
    }
}

